<header id="top">
  <div class="container">
    $if(title)$
    <h1><a href="/">$title$</a></h1>
    $endif$
    $if(author)$
    <h4>Software Development Resources by $author$.</h4>
    $endif$
    <section id="main-nav">
      <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsingMainNavbar">
        MENU&nbsp;&#9776;
      </button>
      <div id="collapsingMainNavbar" class="collapse navbar-toggleable-sm">
        <nav class="navbar">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/" class="btn nav-link active">Home</a></li>
            <li class="nav-item"><a href="/categories" class="btn nav-link">Posts by Category</a></li>
            <li class="nav-item"><a href="/contact" class="btn nav-link">Contact</a></li>
            $if(github)$
            <li class="nav-item"><a href="https://github.com/$github$" class="btn nav-link">GitHub</a></li>
            $endif$
          </ul>
        </nav>
      </div>
    </section>
  </div>
</header>

