<div class="container">
$if(title)$
<h1 id="title"><a href="/">$title</a></h1>
$endif$ $if(author)$
<h4 id="software-development-resources-by-author.">Software Development Resources by $author$.</h4>
$endif$
<section id="main-nav">
MENU ☰
<div id="collapsingMainNavbar" class="collapse navbar-toggleable-sm">
<ul>
<li><a href="/" class="btn nav-link active">Home</a></li>
<li><a href="/categories" class="btn nav-link">Posts by Category</a></li>
<li><a href="/contact" class="btn nav-link">Contact</a></li>
<li><a href="https://github.com/DavidCWebs" class="btn nav-link">GitHub</a></li>
</ul>
</div>
</section>
</div>
